body {
    background-color: #fdfdfd;
    font-family: "Segoe UI", Arial, Helvetica, "Microsoft Jhenghei", "Hiragino Sans GB", "WenQuanYi Zen Hei", "Microsoft Yahei", SimHei, STHeiti, "WenQuanYi Micro Hei", sans-serif;
}

.main-menu {
    margin: 0;
    padding: 2em 0;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}

#pc-menu .toc.item {
    display: none;
}

#mobile-menu {
    display: none;
    padding: 0 1.5em;
}

#main-footer {
    padding: 5em 0 3em 0;
}

#main-footer img {
    margin-bottom: 2em;
}

#main-footer h3 {
    font-size: 16px;
}

.ui.segment.disqus-container {
    margin: 3em 0;
    padding: 2em;
}

#billboard-container {
    margin: 3em 0;
    padding: 1em;
}

#billboard-container h2 {
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    #pc-menu .item {
        display: none;
    }

    #pc-menu .toc.item {
        display: block;
    }

    #pc-menu .toc.item .icon{
        margin: 0;
    }
}