#download-container {
    margin-bottom: 4em;
}

#download-container .header {
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 1em;
    margin-bottom: 2em;
}

#download-container .item {
    padding-bottom: 1em;
}