#main-container {
    margin-bottom: 4em;
}

.main-sidebar h2.header {
    font-size: 16px;
    margin-bottom: 2em;
}

#main-video-list {
    padding: 0 .5em;
}

#main-video-list .column {
    padding: 0;
    margin: 0;
}

#main-video-list .video-item {
    margin: 0.5em;
    padding: 0.5em;
}

#main-video-list .video-item:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.08);
}

#main-video-list .video-item .content {
    padding-left: .5em;
}

#main-video-list .video-item .header {
    color: #191919;
    font-size: 14px;
    margin-bottom: .5em;
}

#main-video-list .video-item .meta {
    padding-left: .5em;
    font-size: 12px;
    color: #808080;
}

@media only screen and (max-width: 767px) {
    #main-video-list .video-item {
        margin: .5em 0em;
        padding: 0;
    }

    #main-video-list .video-item .content {
        padding-left: 0;
    }
}